In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/yelp-dataset/Dataset_User_Agreement.pdf
/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json

**Importing Business Data from JSON to Pandas DataFrame**

In [6]:
#Analyzing Business data
import pandas as pd
import json

with open('/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json') as f:
    data = [json.loads(line) for line in f]
df = pd.DataFrame(data)
df.count()

business_id     150346
name            150346
address         150346
city            150346
state           150346
postal_code     150346
latitude        150346
longitude       150346
stars           150346
review_count    150346
is_open         150346
attributes      136602
categories      150243
hours           127123
dtype: int64

In [11]:
df['business_id'].nunique()

150346

In [3]:
#Finding the list of all the restaurants in the city of Lebanon in State Illinois
#Filtering out all the data in the restaurant category

res_list= df['categories'].str.contains('Restaurants', na=False) & (df['city'] == "Lebanon")
df[res_list].head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
678,zjQDk4tZyhEroyqtkgvx0g,The Cobblestone Eatery and Drinkery,115 W St Louis St,Lebanon,IL,62254,38.604107,-89.808533,3.5,52,1,"{'RestaurantsDelivery': 'False', 'BestNights':...","American (Traditional), Nightlife, Breakfast &...","{'Monday': '11:0-2:0', 'Tuesday': '11:0-2:0', ..."
2695,47PQER5Q4OVmQhVZGE5nJg,Mexico Tipico,501 S Madison St,Lebanon,IL,62254,38.598716,-89.808185,4.5,26,1,"{'RestaurantsReservations': 'False', 'Restaura...","Mexican, Restaurants, Salad, Soup","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
14150,n-BSZepKeRxKH7QXXfJvsA,Ko's Pizza & Cafe,6650 Eastgate Blvd,Lebanon,TN,37090,36.187532,-86.410494,4.0,47,0,"{'RestaurantsReservations': 'False', 'Restaura...","Sandwiches, Restaurants, Pizza, Salad",None
21807,dB99PAAVC4iItDe0cmSyiA,Coach's Eastgate Grille,6750 Eastgate Blvd,Lebanon,TN,37090,36.187232,-86.411782,3.0,26,1,"{'Caters': 'False', 'GoodForKids': 'False', 'H...","Sports Bars, Fast Food, Restaurants, Food, Bar...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-23:0', ..."
28659,p3qatJIq6b8Gd_k7hwpHOg,McDonald's,320 Hwy 109 N,Lebanon,TN,37090,36.188535,-86.410258,1.5,21,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsPri...","Restaurants, Burgers, Coffee & Tea, Fast Food,...","{'Monday': '5:0-1:0', 'Tuesday': '5:0-1:0', 'W..."

**Importing Checkin Data from JSON to Pandas DataFrame**

In [3]:
#Analyzing Checkin data
import pandas as pd
import json

with open('/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json') as f:
    data = [json.loads(line) for line in f]
df1 = pd.DataFrame(data)
df1.describe()

,business_id,date
count,131930,131930
unique,131930,131930
top,---kPU91CF4Lq2-WlRu9Lw,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020..."
freq,1,1

**Importing Review Data from JSON to Pandas DataFrame**

In [5]:
#Analyzing Review data

import pandas as pd
import json

with open('/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json') as f:
    data = [json.loads(line) for line in f]
df4 = pd.DataFrame(data)
df4.count()

review_id      6990280
user_id        6990280
business_id    6990280
stars          6990280
useful         6990280
funny          6990280
cool           6990280
text           6990280
date           6990280
dtype: int64

In [6]:
#Finding Latest and oldest date of review
print("Latest review date: " + df4['date'].max())
print("Oldest review date: " + df4['date'].min())

Latest review date: 2022-01-19 19:48:45
Oldest review date: 2005-02-16 03:23:22

**Importing Tip Data from JSON to Pandas DataFrame**

In [8]:
#Analyzing Tip data
import pandas as pd
import json

with open('/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json') as f:
    data = [json.loads(line) for line in f]
df2 = pd.DataFrame(data)
df2.head()

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

**Importing User Data from JSON to Pandas DataFrame**

In [9]:
#Analyzing User data
import pandas as pd
import json

with open('/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json') as f:
    data = [json.loads(line) for line in f]
df3 = pd.DataFrame(data)
df3.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

**Importing Required packages**

In [10]:
from sqlalchemy import create_engine

!pip install PyMySql

import pymysql

import sqlalchemy

import sqlite3

Collecting PyMySql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 1.6 MB/s eta 0:00:00
Installing collected packages: PyMySql
Successfully installed PyMySql-1.0.3
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

**Creating the engine which contains the connection information to our Working directory**

In [11]:
engine = create_engine('sqlite:////kaggle/working/projectone.db')

# Porting the Tables from Dataframes to SQL database

In [12]:
df.to_sql(name = "business", con = engine, if_exists='replace', index=True, dtype={'attributes': sqlalchemy.types.JSON, 'hours': sqlalchemy.types.JSON}, chunksize=10000)

In [13]:
df1.to_sql(name = "checkin", con = engine, if_exists='replace', index=True, chunksize=10000)

In [14]:
df2.to_sql(name = "tip", con = engine, if_exists='replace', index=True, chunksize=10000)

In [15]:
df3.to_sql(name = "user", con = engine, if_exists='replace', index=True, chunksize=10000)

In [16]:
df4.to_sql(name = "review", con = engine, if_exists='replace', index=True, chunksize=10000)

In [17]:
%sql sqlite:////kaggle/working/projectone.db

# Writing Basic queries to check the tables imported

In [20]:
%sql select * from user where user_id='mh_-eMZ6K5RLWhZyISBhwA';

 * sqlite:////kaggle/working/projectone.db
Done.

[(124234, 'mh_-eMZ6K5RLWhZyISBhwA', 'Melanie', 33, '2016-01-13 17:20:44', 32, 3, 8, '', 'DS9QBM_NWJz1E279Zrao-A, XdXgIs4i5JFvtJf0rJlWsA, ZORKRArPzQDKrBVolmJ54w, fAJ4v8WKt7DYkC2dskayvQ, HlD-TtF5u61RqVajCo2Hrg, _gkqTHB3gsU70aZxdZFjxg, Maqp5c-VEOUxssdRoACoaw, vhxV76Z0vCnErHuq2rJvQg, XBeEmeV16yfP9EXLiqkRhQ, HjyeYbnxg20fzRK7jyqPHg, ooEy2EgLd_2xBtm5AYEaIw, 6F2MXveozLalDl5oqt6_EQ', 0, 4.06, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0)]

In [21]:
%sql select * from tip limit 5;

 * sqlite:////kaggle/working/projectone.db
Done.

[(0, 'AGNUgVwnZUey3gcPCJ76iw', '3uLgwr0qeCNMjKenHJwPGQ', 'Avengers time with the ladies.', '2012-05-18 02:17:21', 0),
 (1, 'NBN4MgHP9D3cw--SnauTkA', 'QoezRbYQncpRqyrLH6Iqjg', 'They have lots of good deserts and tasty cuban sandwiches', '2013-02-05 18:35:10', 0),
 (2, '-copOvldyKh1qr-vzkDEvw', 'MYoRNLb5chwjQe3c_k37Gg', "It's open even when you think it isn't", '2013-08-18 00:56:08', 0),
 (3, 'FjMQVZjSqY8syIO-53KFKw', 'hV-bABTK-glh5wj31ps_Jw', 'Very decent fried chicken', '2017-06-27 23:05:38', 0),
 (4, 'ld0AperBXk1h6UbqmM80zw', '_uN0OudeJ3Zl_tf6nxg5ww', 'Appetizers.. platter special for lunch', '2012-10-06 19:43:09', 0)]

In [22]:
%sql select * from checkin limit 5;

 * sqlite:////kaggle/working/projectone.db
Done.

[(0, '---kPU91CF4Lq2-WlRu9Lw', '2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020-07-24 22:42:27, 2020-10-24 21:36:13, 2020-12-09 21:23:33, 2021-01-20 17:34:57, 2021-04-30 21:02:03, 2021-05-25 21:16:54, 2021-08-06 21:08:08, 2021-10-02 15:15:42, 2021-11-11 16:23:50'),
 (1, '--0iUa4sNDFiZFrAdIWhZQ', '2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011-07-18 22:30:31, 2012-09-07 20:28:50, 2013-03-27 15:57:36, 2013-08-13 00:31:34, 2013-08-13 00:31:48, 2013-09-23 17:39:38, 2013-11-18 06:34:08, 2014-04-12 23:04:47'),
 (2, '--30_8IhuyMHbSOcNWd6DQ', '2013-06-14 23:29:17, 2014-08-13 23:20:22'),
 (3, '--7PUidqRWpRSpXebiyxTg', '2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012-03-11 10:30:02, 2012-04-24 07:07:59, 2012-04-24 07:43:31, 2013-05-25 16:41:10, 2014-05-02 15:49:55, 2014-09-18 02:28:23, 2014-11-10 15:16:43, 2015-09-27 13:18:32'),
 (4, '--7jw19RH9JKXgFohspgQw', '2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014-09-30 14:41:47, 2014-10-23 18:22:28, 2015-04-27 19:55:00, 2015-09-21 12:52:09, 2015-10-01 12:46:16, 20 ... (246 characters truncated) ... 11, 2016-12-27 14:36:14, 2017-01-24 20:18:16, 2017-02-21 16:01:49, 2017-03-21 14:08:44, 2017-05-21 16:07:21, 2017-08-07 14:17:39, 2021-06-21 19:59:50')]

In [23]:
%sql select * from business limit 5;

 * sqlite:////kaggle/working/projectone.db
Done.

[(0, 'Pns2l4eNsfO8kk83dixA6A', 'Abby Rappoport, LAC, CMQ', '1616 Chapala St, Ste 2', 'Santa Barbara', 'CA', '93101', 34.4266787, -119.7111968, 5.0, 7, 0, '{"ByAppointmentOnly": "True"}', 'Doctors, Traditional Chinese Medicine, Naturopathic/Holistic, Acupuncture, Health & Medical, Nutritionists', 'null'),
 (1, 'mpf3x-BjTdTEA3yCZrAYPw', 'The UPS Store', '87 Grasso Plaza Shopping Center', 'Affton', 'MO', '63123', 38.551126, -90.335695, 3.0, 15, 1, '{"BusinessAcceptsCreditCards": "True"}', 'Shipping Centers, Local Services, Notaries, Mailbox Centers, Printing Services', '{"Monday": "0:0-0:0", "Tuesday": "8:0-18:30", "Wednesday": "8:0-18:30", "Thursday": "8:0-18:30", "Friday": "8:0-18:30", "Saturday": "8:0-14:0"}'),
 (2, 'tUFrWirKiKi_TAnsVWINQQ', 'Target', '5255 E Broadway Blvd', 'Tucson', 'AZ', '85711', 32.223236, -110.880452, 3.5, 22, 0, '{"BikeParking": "True", "BusinessAcceptsCreditCards": "True", "RestaurantsPriceRange2": "2", "CoatCheck": "False", "RestaurantsTakeOut": "False", "Re ... (222 characters truncated) ... our": "False", "OutdoorSeating": "False", "HasTV": "False", "RestaurantsReservations": "False", "DogsAllowed": "False", "ByAppointmentOnly": "False"}', 'Department Stores, Shopping, Fashion, Home & Garden, Electronics, Furniture Stores', '{"Monday": "8:0-22:0", "Tuesday": "8:0-22:0", "Wednesday": "8:0-22:0", "Thursday": "8:0-22:0", "Friday": "8:0-23:0", "Saturday": "8:0-23:0", "Sunday": "8:0-22:0"}'),
 (3, 'MTSW4McQd7CbVtyjqoe9mw', 'St Honore Pastries', '935 Race St', 'Philadelphia', 'PA', '19107', 39.9555052, -75.1555641, 4.0, 80, 1, '{"RestaurantsDelivery": "False", "OutdoorSeating": "False", "BusinessAcceptsCreditCards": "False", "BusinessParking": "{\'garage\': False, \'street\' ... (93 characters truncated) ... taurantsPriceRange2": "1", "RestaurantsTakeOut": "True", "ByAppointmentOnly": "False", "WiFi": "u\'free\'", "Alcohol": "u\'none\'", "Caters": "True"}', 'Restaurants, Food, Bubble Tea, Coffee & Tea, Bakeries', '{"Monday": "7:0-20:0", "Tuesday": "7:0-20:0", "Wednesday": "7:0-20:0", "Thursday": "7:0-20:0", "Friday": "7:0-21:0", "Saturday": "7:0-21:0", "Sunday": "7:0-21:0"}'),
 (4, 'mWMc6_wTdE0EUBKIGXDVfA', 'Perkiomen Valley Brewery', '101 Walnut St', 'Green Lane', 'PA', '18054', 40.3381827, -75.4716585, 4.5, 13, 1, '{"BusinessAcceptsCreditCards": "True", "WheelchairAccessible": "True", "RestaurantsTakeOut": "True", "BusinessParking": "{\'garage\': None, \'street\': None, \'validated\': None, \'lot\': True, \'valet\': False}", "BikeParking": "True", "GoodForKids": "True", "Caters": "False"}', 'Brewpubs, Breweries, Food', '{"Wednesday": "14:0-22:0", "Thursday": "16:0-22:0", "Friday": "12:0-22:0", "Saturday": "12:0-22:0", "Sunday": "12:0-18:0"}')]

In [25]:
%sql select * from review limit 2;

 * sqlite:////kaggle/working/projectone.db
Done.

[(0, 'KU_O5udG6zpxOg-VcAEodg', 'mh_-eMZ6K5RLWhZyISBhwA', 'XQfwVwDr-v0ZS3_CbbE5Xw', 3.0, 0, 0, 0, "If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to  ... (217 characters truncated) ... oo many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker.", '2018-07-07 22:09:11'),
 (1, 'BiTunyQ73aT9WBnpR9DZGw', 'OyoGAe7OKpv6SyGZT5g77Q', '7ATYjTIgM3jUlt4UM3IypQ', 5.0, 1, 0, 1, "I've taken a lot of spin classes over the years, and nothing compares to the classes at Body Cycle. From the nice, clean space and amazing bikes, to  ... (535 characters truncated) ... uragement, and is open to ideas and recommendations from anyone. Russell always wears a smile on his face, even when he's kicking your butt in class!", '2012-01-03 15:28:18')]

# 1: What are the top 10 rated restaurants in the city of Edwardsville in Illinois?

**We are looking to open a restaurant in the Edwardsville city of Illinois. First step would be to look for best rated restauarnts already there in the city.**

In [42]:

%sql SELECT name, stars, state FROM business WHERE categories LIKE '%restaurant%' AND city == "Edwardsville" AND state = "IL" ORDER BY stars DESC LIMIT 10;

 * sqlite:////kaggle/working/projectone.db
Done.

[("Queen's Cuisine", 5.0, 'IL'),
 ('QuikTrip', 4.5, 'IL'),
 ("Dewey's Pizza", 4.5, 'IL'),
 ('Moussalli’s Prime', 4.5, 'IL'),
 ("Doc's Smokehouse", 4.5, 'IL'),
 ('Peel Wood Fired Pizza', 4.5, 'IL'),
 ('Taqueria Z', 4.5, 'IL'),
 ('American Kolache', 4.5, 'IL'),
 ('El Macho Taco', 4.5, 'IL'),
 ('Erato Wine Bar & Restaurant', 4.5, 'IL')]

# 2: How many restaurants are there in the city?
**We would like to know how many restaurants are there in the city.**

In [43]:
%sql SELECT COUNT(*) AS Total_Restaurants FROM business WHERE categories LIKE '%restaurant%' AND city == "Edwardsville" AND state = "IL";

 * sqlite:////kaggle/working/projectone.db
Done.

[(128,)]

# 3: What are the most popular types of restaurants in the city?
**This will give us the details of the famous cuisines that people prefer to eat in the city.**

In [48]:
%sql SELECT categories, COUNT(*) FROM business WHERE categories LIKE '%restaurant%' AND city == "Edwardsville" AND state = "IL" GROUP BY categories ORDER BY COUNT(*) LIMIT 10;

 * sqlite:////kaggle/working/projectone.db
Done.

[('Active Life, Restaurants, Arcades, Arts & Entertainment, American (New), Bowling', 1),
 ('American (New), Burgers, American (Traditional), Food, Breakfast & Brunch, Juice Bars & Smoothies, Restaurants, Fast Food, Diners', 1),
 ('American (New), Restaurants', 1),
 ('American (New), Restaurants, American (Traditional)', 1),
 ('American (New), Restaurants, Chicken Wings', 1),
 ('American (Traditional), Bars, Nightlife, Restaurants, Sports Bars', 1),
 ('American (Traditional), Burgers, Bars, Nightlife, American (New), Restaurants', 1),
 ('American (Traditional), Burgers, Food, Steakhouses, Desserts, Restaurants', 1),
 ('American (Traditional), Caterers, Event Planning & Services, Food, Barbeque, Smokehouse, Restaurants', 1),
 ('American (Traditional), Fish & Chips, Seafood, Restaurants, Fast Food', 1)]

# 4: What are the most popular dishes in the city's restaurants?
**This will give us the details of the popular dishes that people prefer to eat in the city.**

In [56]:
%sql SELECT text, COUNT(*) FROM tip WHERE business_id IN (SELECT business_id FROM business WHERE categories LIKE '%restaurant%' AND city == "Edwardsville" AND state = "IL") GROUP BY text ORDER BY COUNT(*) LIMIT 10;

 * sqlite:////kaggle/working/projectone.db
Done.

[('"doog si tip a tip" he said emphatically, backwards.', 1),
 ('"roasted on" date embossed on top seal of each bag of beans.', 1),
 ('#1 Chinese restaurant in Edwardsville. Delicious crab Rangoon and orange chicken.', 1),
 ('$1 bottles of Stag on Thursdays!', 1),
 ('$14 for salmon poke????? Geeze!!!', 1),
 ('$2 Evan Williams on Fri', 1),
 ('...try Halfy Hour: 2-5 pm Friday, Saturday, Sunday, 4:30-6 pm Monday-Thursday.', 1),
 ('15 minute wait for an ice tea #fastfoodfail', 1),
 ('15% off w/ your Sunday worship bulletin, one more reason to get yourself to church.', 1),
 ('5-31-12: According to the "Relish" column in Stlmag.com, this place has closed, but will reopen at a later date.', 1)]

# 5: What is the average rating of restaurants in the city?
This will give us the average star ratings of all the restaurants in the city so we will have an idea of what kind of restaurants people prefer.

In [62]:
%sql SELECT AVG(stars) FROM business WHERE categories LIKE '%Restaurants%' AND city == "Edwardsville" AND state = "IL";

 * sqlite:////kaggle/working/projectone.db
Done.

[(3.4296875,)]

# 6: What is the Total review count of the top 10 most reviewed restaurants in the city?
**With this, we could get to know the restaurants with most reviews.**

In [61]:
%%sql SELECT r.business_id,b.name, COUNT(*) as review_count
    FROM review as r
    INNER JOIN business as b
    ON r.business_id = b.business_id
    WHERE b.city == "Edwardsville"
    GROUP BY r.business_id
    ORDER BY review_count DESC
    LIMIT 10

 * sqlite:////kaggle/working/projectone.db
Done.

[('wbLXXbI-T6Av71i9AoiZRQ', 'Cleveland-Heath', 483),
 ('4wep1OfeJbpz0DvBsoDdVg', 'Peel Wood Fired Pizza', 374),
 ('tMsQnjwF4T8_a_JbfbaCFw', "Doc's Smokehouse", 233),
 ('wMGjF3eTtmkOPudjV_z--Q', '1818 Chophouse', 203),
 ('lBtxj8nQqOmuF0b__WHWAA', 'Gulf Shores Restaurant & Grill', 184),
 ('iGdpNaFSHjjwEuUvMykm1w', 'Bella Milano', 175),
 ('gXg277YblY5xsaeMzJ73TA', 'Wang Gang Asian', 175),
 ('iKeEhlGU9R8vUchNwF5__Q', "Dewey's Pizza", 142),
 ('EvBeuDww_OCNQZ-dRy6qzA', 'Oriental Spoon', 137),
 ('rL68WmPRYvmSjRaQUoKwkQ', 'Social Gastropub', 136)]

# 7: We will look into the bakeries that operates in Illinois
**We have decided to go for a bakery shop in the city. To have a better idea we would like to know how many bakeries are there in the state and their average ratings.**

In [53]:
%%sql select state, city, round(avg(stars),2) as avg, sum(review_count) as Total_review, count(distinct business_id) as Num_of_Business, sum(review_count)/count(distinct business_id) as reviews_by_business
from business
where state='IL' and categories like '%Bakeries%'
GROUP BY city
ORDER BY reviews_by_business DESC

 * sqlite:////kaggle/working/projectone.db
Done.

[('IL', 'Shiloh', 2.5, 73, 1, 73),
 ('IL', 'Maryville', 4.0, 139, 2, 69),
 ('IL', 'O Fallon', 4.0, 40, 1, 40),
 ('IL', 'Collinsville', 3.5, 158, 4, 39),
 ('IL', 'Edwardsville', 4.2, 383, 10, 38),
 ('IL', 'Maryville ', 4.5, 37, 1, 37),
 ('IL', "O'Fallon", 3.9, 167, 5, 33),
 ('IL', 'Godfrey', 4.0, 29, 1, 29),
 ('IL', 'Alton', 4.33, 154, 6, 25),
 ('IL', 'Rosewood Heights', 5.0, 23, 1, 23),
 ('IL', 'Columbia', 4.5, 44, 2, 22),
 ('IL', 'Scott Air Force Base', 4.0, 19, 1, 19),
 ('IL', 'Waterloo', 3.83, 56, 3, 18),
 ('IL', 'Lebanon', 4.5, 17, 1, 17),
 ('IL', 'Fairview Heights', 3.67, 50, 3, 16),
 ('IL', 'Swansea', 2.5, 12, 1, 12),
 ('IL', 'Belleville', 3.5, 73, 6, 12),
 ('IL', 'Granite City', 3.0, 7, 1, 7),
 ('IL', 'Caseyville', 4.5, 6, 1, 6),
 ('IL', 'Bethalto', 4.0, 6, 1, 6)]

# 8: Average rating of Bakeries in the city of Edwardsville in Illinois.
**This will give us the average rating of the Bakeries in the city and the area they are located.**

In [64]:
%%sql select postal_code, avg(stars) as Average_star
from business
where city='Edwardsville' and categories like '%Bakeries%'
group by postal_code
order by Average_star desc
limit 3;

 * sqlite:////kaggle/working/projectone.db
Done.

[('62025', 4.2)]

# 9: Open bakeries or cafes in Edwardsville sorted by their zipcode

In [19]:
%%sql select postal_code, count(*)
from business 
where (categories like '%Bakeries%' OR categories like '%cafe%') and postal_code IN ('62025', '62026','62048','62084','62087') 
GROUP BY postal_code
limit 10;

 * sqlite:////kaggle/working/projectone.db
Done.

[('62025', 13)]

# 10: We will check the 'tip' table to see the customer texts in general for Bakeries  in Illinois state.
**Before we go into more bakery data in the city, We would also like to know how people in Illinois responds to the bakery stores by looking at their reviews text.**

In [71]:
%%sql select t.user_id,t.business_id, t.text,b.name, b.review_count
from tip as t
inner join business as b 
on t.business_id=b.business_id
where b.categories like '%Bakeries%' and b.state='IL' and b.is_open=1
Group by t.business_id LIMIT 10

 * sqlite:////kaggle/working/projectone.db
Done.

[('2KyAPAsnGl-mQbN1J8-Eug', '-oULvzCU5o1Hwr28Cl5rsg', 'Not really a place to go for donuts, but they have plenty of pastries and danishes.', "Ahne's Bakery", 14),
 ('OxsSRhMIwvs3tV4gX4vwow', '2_22EkV1jI7X-8eoKSfWiw', 'Wonderful Saturday Brunch spot.', 'The Happy Bakery', 34),
 ('-aDCEyv7nBhxJxsQEC8GdQ', '4pPtSIMVH9r5aLHQ0HKSDw', 'Awesome food!!! Weekend brunch menu is a treat', 'Cafe on the Abbey', 32),
 ('53W8yr_MSmkBYQBuH--FzQ', '61XRu-DYQur5epSxRa0ncg', "Brilliant everything! Don't be stupid--stop by for a bite and some coffee.", "Sweet Katie Bee's Organic Bakery Café", 93),
 ('fg1qmIQ5ITm7jlHv19y7jg', '7jV5J_mfc5Fsz4hT8qttBQ', 'Go early to get freshest selection', 'Duke Bakery', 7),
 ('6aiI8qyNlvI_kWtwH2Urpg', 'AF4eN-oI7IWwjv0M9BiHxQ', 'Excellent food and service.', 'Teaspoons Cafe', 96),
 ('9k-QEBgDjd1jVYy4-xCS8g', 'B2SzUN9ufZ8htSam4NDA7w', 'Meeting with a wedding couple who wants to book the dueling pianos!', 'St. Louis Bread', 29),
 ('Y0fpxF8T5WaqIofeZ1nYhA', 'BGXxcrZGC8PRJMw6diIjDg', "Don't go on Sunday afternoons. Lots of shoppers; few checkers.", 'Schnucks Alton', 7),
 ('9_Rlvkt5npR_hyeXWydYIQ', 'CybXMwlaK0mrjpg7D0mdJA', 'Great place for donuts and pastries... About to open a second location right outside Scott AFB', 'Wood Bakery', 40),
 ('1gBvRds3mZNFhY083Pi-PA', 'DplwsTdPq4QZYBwaQtFxrg', "Panera with a different name...if you don't want to wait in line for lunch - get here between 11 and 1130am.", 'St. Louis Bread', 73)]

# 11: Identify attributes for bakeries in Edwardsville.

**This will give us info about the attributes that people of Edwardsville look for in a Bakery shop**

In [76]:
%%sql select b.name, b.attributes, b.hours 
from business as b
where b.stars > (select AVG(stars) from business) and b.categories like '%Bakeries%' and b.city='Edwardsville' and b.is_open=1
group by b.name
order by b.stars DESC
LIMIT 5

 * sqlite:////kaggle/working/projectone.db
Done.

[('The Cup', '{"BusinessAcceptsCreditCards": "True", "BusinessParking": "{\'garage\': False, \'street\': False, \'validated\': False, \'lot\': True, \'valet\': Fal ... (56 characters truncated) ... 2", "Caters": "True", "RestaurantsDelivery": "True", "BusinessAcceptsBitcoin": "False", "RestaurantsTakeOut": "None", "WheelchairAccessible": "True"}', '{"Monday": "0:0-0:0", "Tuesday": "10:0-18:30", "Wednesday": "10:0-18:30", "Thursday": "10:0-18:30", "Friday": "9:30-20:0", "Saturday": "9:30-20:0"}'),
 ("Queen's Cuisine", '{"RestaurantsAttire": "u\'casual\'", "RestaurantsTableService": "True", "Ambience": "{\'touristy\': False, \'hipster\': False, \'romantic\': False, \ ... (521 characters truncated) ... RestaurantsDelivery": "True", "NoiseLevel": "u\'average\'", "GoodForMeal": "None", "WheelchairAccessible": "True", "RestaurantsReservations": "True"}', '{"Monday": "0:0-0:0", "Tuesday": "11:0-14:0", "Wednesday": "11:0-14:0", "Thursday": "11:0-14:0", "Friday": "11:0-14:0", "Saturday": "11:0-14:0"}'),
 ('Bailey Cakes', '{"RestaurantsPriceRange2": "2", "BusinessParking": "{\'garage\': False, \'street\': True, \'validated\': False, \'lot\': False, \'valet\': False}", "RestaurantsTakeOut": "False", "BusinessAcceptsCreditCards": "True", "RestaurantsDelivery": "False", "Caters": "False", "BikeParking": "False"}', '{"Tuesday": "9:0-17:0", "Wednesday": "9:0-17:0", "Thursday": "9:0-17:0", "Friday": "9:0-18:0", "Saturday": "8:0-13:0"}'),
 ('American Kolache', '{"RestaurantsTakeOut": "True", "RestaurantsDelivery": "True"}', '{"Monday": "6:0-14:0", "Tuesday": "6:0-14:0", "Wednesday": "6:0-14:0", "Thursday": "6:0-14:0", "Friday": "6:0-14:0", "Saturday": "7:0-14:0", "Sunday": "7:0-14:0"}'),
 ('222 Artisan Bakery', '{"BikeParking": "True", "BusinessParking": "{\'garage\': False, \'street\': True, \'validated\': False, \'lot\': False, \'valet\': False}", "Restaura ... (622 characters truncated) ... ohol": "\'none\'", "NoiseLevel": "\'average\'", "RestaurantsAttire": "\'casual\'", "RestaurantsTableService": "False", "RestaurantsDelivery": "True"}', '{"Monday": "6:0-15:0", "Tuesday": "6:0-15:0", "Wednesday": "6:0-15:0", "Thursday": "6:0-15:0", "Friday": "6:0-20:0", "Saturday": "7:0-20:0", "Sunday": "7:0-13:0"}')]